//use sass style.scss:style.css in the command line to make the css and map file.
$background: #FFF;
$margin: 0px;

body{
	background-color: $background;
}
/*
a{
	color:blue
}
li{
	padding:10px;
	margin:$margin;
}

 
*/